.img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.form-group label {
    font-weight: normal;
}

label.required:after {
    padding-left: 5px;
    color: red;
    display: inline;
    content: '*';
}

.submit-container {
    margin-top: 16px;
}

.top-area {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.top-area .nav-links li {
    float: left;
    display: flex;
}

.top-area .nav-links li a {
    padding: 10px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
}

.top-area .nav-links li.active a {
    color: #000;
    font-weight: 600;
    border-bottom: 2px solid #a7a7a7;
}

.top-area .nav-links li:hover a {
    border-bottom: 2px solid #c4c4c4;
    color: #000;
    background: white;
}

.top-area .nav-controls {
    display: inline-block;
    float: right;
    text-align: right;
    padding: 11px 0;
    margin-bottom: 0;
}

.subjects-list {
    margin: 5px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.subjects-list .subject-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin: 0;
}

.subject-row .avatar-container {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    align-self: flex-start;
    overflow: hidden;
    float: left;
}

.avatar-container a {
    display: flex;
    width: 100%;
}

.avatar-container img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.avatar-container .avatar {
    border-radius: 0;
    border: 0;
    height: auto;
    width: 100%;
    margin: 0;
    align-self: center;
}

.subject-name {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.subject-name a {
    color: black;
}

.subject-row .controls {
    margin-left: auto;
    text-align: right;
}

.img-avatar {
    float: left;
    margin-right: 20px;
}

.img-avatar img {
    width: 160px;
    height: 160px;
}

.items .col-md-3 {
    margin-bottom: 50px;
}

.items h5 {
    text-align: center;
}

.items img {
    display: block;
    margin: auto;
}